body {
  margin: 0;
  font-size: 1.2em;
}


/* ------------------------ Header ------------------------ */

#home-body {
  background-color: #F1A36C;
}

header {
  background-image: linear-gradient(to bottom, #004265, #002d4e);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

#logo {
  margin: 10px;
  width: 100px;
  height: auto;
}

nav {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  width: 100%;
  padding-left: 25px;
  list-style-type: none;
}

nav ul li {
  margin: 0 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;

}

nav ul li a:hover {
  background-color: white;
  color: #004265;
}

/* ------------------------ Main ------------------------ */

#home_content {
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home_content section {
  margin: 20px;
  width: 500px;
  border: 2px solid #004265;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px black;
}

#home_content section h2 {
  border-bottom: 2px solid #004265;
}

#calendar_content {
  margin-top: 100px;
  padding: 20px;
  margin-bottom: 75px;
}

/* ------------------------ Footer ------------------------ */

footer {
  background-image: linear-gradient(to bottom, #004265, #002d4e);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#github-logo {
  width: 50px;
  height: auto;
}

@media (min-width: 760px) {
  #home_content section {
    width: 760px;
  }
}